<div class="modal fade" id="removeEmployeeModal" tabindex="-1" aria-labelledby="removeEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeEmployeeModalLabel">Confirm Remove Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="RemoveEmployee" asp-controller="RemoveEmployee" method="post">
                <div class="modal-body">
                    <p>Are you sure you want to remove <strong id="selectedUserName"></strong>?</p>
                    <input type="hidden" id="selectedUserId" name="UserId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Remove Employee</button>
                </div>
            </form>
        </div>
    </div>
</div>
